body {
    background-color: lavender;
}
#container {
    height: 70vh;
    border-bottom:orange 3px solid;
}

h1 {
    text-align: left;
    color: crimson;
    text-indent: 1in;
}
h2{
    text-decoration: underline;
}
.overlay{
    color: crimson;
    font-family: fantasy;
    text-align: center;
}

.highlight{
    color: darkmagenta;
    font-weight: 900;
  }
  .well p{
      color: crimson;
      font-size: x-large;
  }
h5 {
    margin: 8px;
}
.card-title {
    color: crimson;
}
.card-body ul li {
    text-align-last: left;
}