html {
    height: 100%;
}

body {
    max-width: 100%;
    min-height: 100%;
    background-color: wheat
}

.jumbotron {
    height: 40px;
    background-color: cadetblue;
}

.jumbotron h1 {
    text-align: center;
}

h1 span {
    font-size: 55px;
    text-decoration: underline;
}

.highlight {
    color: crimson;
    font-weight: bolder;
}

.row {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.column {
    float: left;
    width: 50%;
}

.left {
    margin-top: 10px;
    width: 40%;
    font-size: large;
}

.right {
    margin-top: 10px;
    background-color: silver;
    width: 60%;
    border-radius: 8%;
}

.card-title {
    margin-bottom: 0.70rem;
    margin-left: 20px;
    text-align: center;
}

#akanform {
    text-align: left;
}

label {
    color: black;
    margin-top: 10px;
}

label input {
    width: 70%;
    border-color: black;
    border-width: 0 0 2px 0;
    background-color: transparent;
}

::placeholder {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

#container1 {
    float: left;
    height: 450px;
    width: 48%;
    background-color: turquoise;
    margin-bottom: 3px;
    border: dotted rgb(130, 18, 235);
    border-radius: 80px;
    display: flex;
    justify-content: center;
}

#results {
    float: right;
    height: 450px;
    width: 50%;
    margin-bottom: 10px;
    margin-left: 0.2in;
    background-color: cadetblue;
    border: dotted black;
    border-radius: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 6em;
    color: black;
    font-style: italic;
    text-align: center;
    padding: 0px 0px 0px 0px;
    line-height: 1em;
}

.footer {
    height: 50px;
    width: 100%;
    background-color: #333;
    display: inline-flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-style: italic;
    font-weight: 700;
}