body {
    background-color: lavender;
}

section {
    height: 120vh;
    border-bottom:orange 3px solid;
}

h1 {
    text-align: left;
    color: crimson;
}

.highlight{
    color: crimson;
    font-weight: 900;
}

.well p{
    margin-top: 0.2in;
    font-size: large;
}

h3{
    text-decoration: underline;
}


h5 {
    margin: 8px;
}

.card-title {
    color: crimson;
}

.card-body ul li {
    text-align-last: left;
}